{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href='https://fonts.googleapis.com/css?family=Work Sans' rel='stylesheet'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/register.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu_squized_bar.css'%}">
    <title>Dronexgram</title>
</head>
<body>
    <header>
        <div class="container_1">
            <div class="logo_container">
              {%load static%}
              <img src="{% static 'images/logo.png'%}">
            </div>

            <nav>
              <div class="toggle">
                <div class="menu">
                  <i class="fas fa-bars aria-hidden=true"></i>
                </div>
              </div>
              <ul>
                  <li><a href="{% url 'index' %}">Home</a></li>
                  <li><a href="{% url 'contact' %}">Contact</a></li>
                  <li><a href="{% url 'blog' %}">Blog</a></li>
                  <li><a href="{% url 'gallery' %}">Gallery</a></li>
                  <li><a href="{% url 'login' %}">Login</a></li>
                  <li><a href="{% url 'register' %}">Register</a></li>
              </ul>
            </nav>

            <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
            <script type="text/javascript">
              $(document).ready(function(){
                $('.menu').click(function(){
                  $('ul').toggleClass('active');
                })
              })
            </script>

        </div>
    </header>


    <form class="register_box" method="post">
        <h1>Register</h1>
        {% csrf_token %}
        {% if form.errors %}
        <p>There are errors in the form!</p>
        {% endif %}
        <div style="display: none" id="errors"><p>You've got errors!</p></div>
        <input type="text" id="username" name="username" placeholder="UserName">
        <input type="email" id="email" name="email" placeholder="Email">
        <input type="password" id="password" name="password" placeholder="Password">
        <input type="submit" id="go" value="Register">
    </form>

    {%load static%}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/django-ajax.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#go').click(function () {
              $.post("../ajax-sign-up/",
                {
                  username: $("#username").val(),
                  email: $("#email").val(),
                  password: $("#password").val()
                },
                function (data, status) {
                  if (JSON.parse(data).Status == 'Success') {
                    window.location = '/';
                  } else {
                    $('#errors').html("<span>" + JSON.parse(data).Message + "</span>")
                    $('#errors').css('display', 'block')
                  }
                });
              return false;
            })
          })
    </script>

    <div class="footer_main">
        <div class="footer_icons">
            <ul>
                <li><a href="#" target="blank"><i class="fr_facebook"></i>{% load static %}<img src="{% static 'images/fb.png'%}" alt=""></a></li>
                <li><a href="#" target="blank"><i class="fr_twitter"></i>{% load static %}<img src="{% static 'images/twitter.png'%}" alt=""></a></li>
                <li><a href="#" target="blank"><i class="fr_instagram"></i>{% load static %}<img src="{% static 'images/insta.png'%}" alt=""></a></li>
            </ul>
        </div>
    </div>

    <div class="cloud1">{% load static %}<img src="{% static 'images/cloud1.png'%}"></div>
    <div class="cloud2">{% load static %}<img src="{% static 'images/cloud2.png'%}"></div>

</body>
</html>
